@import url(https://fonts.googleapis.com/css2?family=Manrope&display=swap);

body {
  background-image: url("../public/wave.png");
  background-repeat: repeat;
  font-family: 'manrope', Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #F4F4F4;
  margin-right: 1rem;
}

main {
  color: #F4F4F4;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

footer {
  color: #848484;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}

h1 {
  color: #F4F4F4;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.1;
  margin: 4rem auto;
  max-width: 14rem;
}

p {
  color: #F4F4F4;
  max-width: 14rem;
  margin: 2rem auto;
  line-height: 1.35;
}

@media (min-width: 480px) {
  h1 {
    color: #F4F4F4;
    max-width: none;
  }

  p {
    color: #F4F4F4;
    max-width: none;
  }
}

strong {
  color: #c80000
}

em {
  color: #c80000
}